$redorange: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$blueblue: linear-gradient(90deg,  hsl(237, 17%, 21%), hsl(237, 23%, 32%));
$lightgraytext: hsl(240, 2%, 79%);
$bodytext:  hsl(207, 13%, 34%);
$lightred: hsl(356, 100%, 66%);
$darkblue: hsl(208, 49%, 24%);
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}
header {
    background: url("/images/bg-pattern-intro.svg") no-repeat 19% 51% / 204%, $redorange;
    min-height: 45vh;
    border-bottom-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
    menu {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        .logo {
            height: 45px;
            width: 105px;
            background: url("./images/logo.svg") no-repeat;
            margin-right: 3rem;
        }
        nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $lightgraytext;
            font-weight: bold;
            font-size: 14px;
            flex-grow: 1;
            
            .header-menu {
                position: relative;
                padding-right: 1em;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                };
                .hide {
                    visibility: hidden;
                }
                .dropdown {
                    
                    background: white;
                    color: $bodytext;
                    font-weight: normal;
                    padding: 1em;
                    border-radius: .5em;
                    position: absolute;
                    top: 1.25em;
                    left: -1.75em;
                    li {
                        list-style: none;
                        padding: .75em;
                        cursor: pointer;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                
                }
            }
            
        }
        .cta-container {
            color: white;
            
        }
    }
    #hero {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 4rem;
        }
        h4 {
            color: $lightgraytext;
            font-weight: normal; 
        }
        .dark {
            border: 1px solid white;
        }
    }
}
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    .cta {
        padding: 1rem;
        margin: 0 .5rem;
        border-radius: 1.75rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
    }
}

.light {
    background: white;
    color: $lightred;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    color: $bodytext;

    section {
        padding: 0 10rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img {
            position: absolute;
            top: 0;
            right: 160px;
            width: 54%;
            height: auto;
            transform: translate(50%, 0%);
            z-index: -1;
        }
        .third-img {
            right: unset;
            transform: translate(-93%, 0);
        }
        h1 {
            margin: 3rem 0;
            color: $darkblue;
            text-align: center;
            font-size: 2rem;
            align-self: center;
            width: 50%
        }
        h3 {
            margin: 1.5rem 0;
            color: $darkblue;
            font-weight: 800;
            width: 50%;
        }
        p {
            margin: 1.5rem 0 5rem 0;
            width: 50%;
            line-height: 175%;
        }

    }
    section:first-child {
        align-items: flex-start;
    }
    .blue-section {
        background: url('./images/bg-pattern-circles.svg') no-repeat -43% 81% / 67%, $blueblue;
        overflow-y: visible;
        color: $lightgraytext;
        border-radius: 0 5rem 0 5rem;
        img {
            z-index: 1;
            width: 38%;
            transform: translate(-103%,-12%);
        }
        h1 {
            color: white;
            align-self: unset;
            text-align: left;
        }
    }
    section:last-child {
        padding-top: 4rem;
    }
}

footer {
    height: 33vh;
    background: hsl(240, 10%, 16%);
    color: $lightgraytext;
    border-top-right-radius: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5em 2em 3em 2em;
    .logo {
        height: 45px;
        width: 105px;
        background: url("./images/logo.svg") no-repeat;
        
    }
    h4 {
        padding-bottom: 2em;
    }
    li {
        list-style: none;
        padding: .5em 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media (max-width: 895px) {
    header {
        padding: 0 2.5em 2em 2.5em;
        text-align: center;
        #hero {
            h1 {
                font-size: 2em;
            }
            h4 {
                padding: 1em 0;
            }
        }
    }
    main {
        margin: 0;
        section, .blue-section {
            padding: 2.5em;
            text-align: center;
            align-items: center;
            p,h3,h1 {
                width: unset;
                text-align: center;
            }
            h3 {
                font-size: 1.5em;
            }
            img {
                position: unset;
                transform: unset;
                padding: 1em;
            }
            .second-img {
                transform: translateY(-45%);
                position: absolute;
                right: unset;
            }
            .third-img {
                transform: unset;
            }
            
        }
        section:first-child {
            align-items: center;
            padding-bottom: 6em;
        }
        .blue-section {
            padding-top: 7em;
        }
    }
}