* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

header {
  background: url("/images/bg-pattern-intro.svg") no-repeat 19% 51%/204%, linear-gradient(90deg, #ff8f70, #ff3d54);
  min-height: 45vh;
  border-bottom-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0;
}
header menu {
  width: 80vw;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
header menu .logo {
  height: 45px;
  width: 105px;
  background: url("./images/logo.svg") no-repeat;
  margin-right: 3rem;
}
header menu .full-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
header menu .icon-hide {
  display: none;
}
header menu nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #efefef;
  font-weight: bold;
  font-size: 14px;
  flex-grow: 1;
}
header menu nav .header-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  cursor: pointer;
}
header menu nav .header-menu span {
  padding-right: 0.5em;
}
header menu nav .header-menu span:hover {
  text-decoration: underline;
}
header menu nav .header-menu .hide {
  visibility: hidden;
}
header menu nav .header-menu .dropdown {
  text-decoration: unset;
  background: white;
  color: #4b5862;
  font-weight: normal;
  padding: 1em;
  border-radius: 0.5em;
  position: absolute;
  top: 1.25em;
  left: -1.75em;
  width: 7em;
}
header menu nav .header-menu .dropdown li {
  list-style: none;
  padding: 0.75em;
  cursor: pointer;
}
header menu nav .header-menu .dropdown li:hover {
  font-weight: bold;
}
header menu .cta-container {
  color: white;
}
header #hero {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #hero h1 {
  font-size: 4rem;
}
header #hero h4 {
  color: #efefef;
  font-weight: normal;
  padding: 1em 0;
}
header #hero .dark {
  border: 1px solid white;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.cta-container .cta {
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 1.75rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.light {
  background: white;
  color: #ff525d;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
  color: #4b5862;
}
main section {
  padding: 0 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main section img {
  position: absolute;
  top: 0;
  right: 160px;
  max-width: 54%;
  height: auto;
  transform: translate(50%, 0%);
  z-index: -1;
}
main section .third-img {
  right: unset;
  transform: translate(-93%, 0);
}
main section h1 {
  margin: 3rem 0;
  color: #1f3f5b;
  text-align: center;
  font-size: 2rem;
  align-self: center;
  width: 50%;
}
main section h3 {
  margin: 1.5rem 0;
  color: #1f3f5b;
  font-weight: 800;
  width: 50%;
}
main section p {
  margin: 1.5rem 0 5rem 0;
  width: 50%;
  line-height: 175%;
}
main section:first-child {
  align-items: flex-start;
}
main .blue-section {
  background: url("./images/bg-pattern-circles.svg") no-repeat -43% 81%/67%, linear-gradient(90deg, #2c2d3f, #3f4164);
  overflow-y: visible;
  color: #efefef;
  border-radius: 0 5rem 0 5rem;
  margin: 3em 0;
}
main .blue-section img {
  z-index: 1;
  max-width: 38%;
  right: unset;
  left: 7em;
  transform: translateY(-12%);
}
main .blue-section h1 {
  color: white;
  align-self: unset;
  text-align: left;
}
main section:last-child {
  padding-top: 4rem;
}

footer {
  height: 33vh;
  background: #25252d;
  color: #efefef;
  border-top-right-radius: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5em 2em 3em 2em;
}
footer .logo {
  height: 45px;
  width: 105px;
  background: url("./images/logo.svg") no-repeat;
}
footer h4 {
  padding-bottom: 2em;
}
footer li {
  list-style: none;
  padding: 0.5em 0;
  cursor: pointer;
}
footer li:hover {
  text-decoration: underline;
}

.rotate180 {
  transform: rotate(180deg);
}

@media (max-width: 895px) {
  header {
    padding: 0 2.5em 2em 2.5em;
    text-align: center;
  }
  header menu {
    justify-content: space-between;
  }
  header menu .menu-hide {
    display: none;
  }
  header menu .hamburger {
    cursor: pointer;
  }
  header menu .full-menu {
    position: absolute;
    top: 100px;
    right: 5vw;
    width: 70vw;
    padding: 2em;
    background-color: white;
    border-radius: 1.25em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
  header menu .full-menu nav {
    flex-direction: column;
    font-size: 1.5em;
    padding: 1em;
    width: 100%;
  }
  header menu .full-menu nav .header-menu {
    display: unset;
    padding: 0.5em 0;
    width: 100%;
    color: #2c2d3f;
  }
  header menu .full-menu nav .header-menu img {
    padding: 0.1em 0;
  }
  header menu .full-menu nav .header-menu .dropdown {
    visibility: hidden;
    background-color: #e5e5e6;
    font-size: 0.75em;
    margin: 1em 0;
    width: unset;
  }
  header menu .full-menu nav .header-menu .show {
    position: unset;
    visibility: unset;
  }
  header menu .full-menu .cta-container {
    flex-direction: column;
    border-top: 2px solid lightgray;
    width: 100%;
    color: #1f3f5b;
  }
  header menu .full-menu .cta-container .cta {
    font-size: 1.5em;
    font-family: "Overpass";
  }
  header menu .full-menu .cta-container .light {
    color: white;
    background-color: #ff3d54;
  }
  header #hero {
    padding: 5em 0;
  }
  header #hero h1 {
    font-size: 2.5em;
  }
  header #hero h4 {
    padding: 1em 0;
    color: white;
  }

  main {
    margin: 0;
  }
  main section, main .blue-section {
    padding: 2.5em;
    margin: unset;
    text-align: center;
    align-items: center;
  }
  main section p, main section h3, main section h1, main .blue-section p, main .blue-section h3, main .blue-section h1 {
    width: unset;
    text-align: center;
  }
  main section h3, main .blue-section h3 {
    font-size: 1.5em;
  }
  main section img, main .blue-section img {
    position: unset;
    transform: unset;
    left: unset;
    padding: 1em;
  }
  main section .second-img, main .blue-section .second-img {
    transform: translateY(-45%);
    position: absolute;
    right: unset;
  }
  main section .third-img, main .blue-section .third-img {
    transform: unset;
  }
  main section:first-child {
    align-items: center;
    padding-bottom: 6em;
  }
  main .blue-section {
    padding-top: 7em;
  }
}
@media (max-width: 450px) {
  header {
    background: url("/images/bg-pattern-intro.svg") no-repeat 37% 30%/321%, linear-gradient(90deg, #ff8f70, #ff3d54);
  }
  header menu {
    padding: 3em 0;
  }
  header #hero h4 {
    font-size: 1.25em;
  }

  main section img {
    width: 134%;
  }
  main section h3 {
    font-size: 2em;
  }
  main section h1 {
    font-size: 2.75em;
    margin-top: 3em;
  }
  main section p {
    font-size: 1.25em;
  }
  main .blue-section {
    margin-top: 5em;
  }
  main .blue-section img {
    width: 90%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: unset;
  }
  footer .logo {
    padding-bottom: 2.5em;
  }
  footer .footer-list {
    font-size: 1.3em;
    padding: 2em 0;
  }
  footer .footer-list h4 {
    color: white;
  }
}

/*# sourceMappingURL=index.css.map */
